EMAILJS_SERVICE_ID=tu_service_id
EMAILJS_TEMPLATE_ID=tu_template_id
EMAILJS_PUBLIC_KEY=tu_public_key
GITHUB_TOKEN=tu_github_token
ANALYTICS_KEY=key
PROD=false

VITE_EMAILJS_SERVICE_ID=tu_service_id_publico
VITE_EMAILJS_TEMPLATE_ID=tu_template_id_publico
VITE_EMAILJS_PUBLIC_KEY=tu_public_key_publico
VITE_GITHUB_TOKEN=tu_github_token_publico
VITE_ANALYTICS_KEY=public
VITE_PROD=public

SECRETS_SCAN_ENABLED=false